<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="NUnit" version="3.12.0" targetFramework="net45" />
  <package id="NUnit.Engine.Api" version="3.11.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net45" developmentDependency="true" />
  <package id="ReportPortal.Client" version="3.0.0-alpha.17" targetFramework="net45" />
  <package id="ReportPortal.Extensions.SourceBack" version="2.0.0-alpha.5" targetFramework="net45" />
  <package id="ReportPortal.Log4Net" version="2.0.0-alpha.1" targetFramework="net45" />
  <package id="ReportPortal.NUnit" version="4.0.0-alpha.13" targetFramework="net45" />
  <package id="ReportPortal.Shared" version="3.0.0-alpha.54" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.8.0" targetFramework="net45" />
</packages>